String Based Assignment Problem

In [3]:
# 1. Reverse a String
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [4]:
 # 2. Check if a String is a Palindrome
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

print(is_palindrome("racecar"))
print(is_palindrome("hello"))

True
False

In [5]:
# 3. Convert a String to Uppercase
def to_uppercase(s):
    return s.upper()

print(to_uppercase("hello world"))

HELLO WORLD

In [6]:
# 4. Convert a String to Lowercase
def to_lowercase(s):
    return s.lower()

print(to_lowercase("HELLO WORLD"))

hello world

In [7]:
# 5. Count the Number of Vowels in a String
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

print(count_vowels("hello world"))

3

In [8]:
# 6. Count the Number of Consonants in a String
def count_consonants(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char.isalpha() and char not in vowels)

print(count_consonants("hello world"))

7

In [9]:
# 7. Remove All Whitespaces from a String
def remove_whitespaces(s):
    return s.replace(" ", "")

print(remove_whitespaces("hello world"))

helloworld

In [10]:
# 8. Find the Length of a String Without Using the `len()` Function
def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

print(string_length("hello world"))

11

In [11]:
# 9. Check if a String Contains a Specific Word
def contains_word(s, word):
    return word in s

print(contains_word("hello world", "world"))
print(contains_word("hello world", "python"))

True
False

In [12]:
# 10. Replace a Word in a String with Another Word
def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)

print(replace_word("hello world", "world", "everyone"))

hello everyone

In [13]:
# 11. Count the Occurrences of a Word in a String
def count_word_occurrences(s, word):
    return s.split().count(word)

print(count_word_occurrences("hello world world", "world"))

2

In [14]:
# 12. Find the First Occurrence of a Word in a String
def find_first_occurrence(s, word):
    return s.find(word)

print(find_first_occurrence("hello world", "world"))

6

In [15]:
# 13. Find the Last Occurrence of a Word in a String
def find_last_occurrence(s, word):
    return s.rfind(word)

print(find_last_occurrence("hello world world", "world"))

12

In [16]:
# 14. Split a String into a List of Words
def split_string(s):
    return s.split()

print(split_string("hello world"))

['hello', 'world']

In [17]:
# 15. Join a List of Words into a String
def join_words(words):
    return " ".join(words)

print(join_words(["hello", "world"]))

hello world

In [18]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.
def space_to_underscore(s):
    return s.replace(" ", "_")

print(space_to_underscore("hello world"))

hello_world

In [19]:
# 17. Check if a string starts with a specific word or phrase.
def starts_with(s, word):
    return s.startswith(word)

print(starts_with("hello world", "hello"))
print(starts_with("hello world", "world"))

True
False

In [20]:
# 18. Check if a string ends with a specific word or phrase.
def ends_with(s, word):
    return s.endswith(word)

print(ends_with("hello world", "world"))
print(ends_with("hello world", "hello"))

True
False

In [21]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
def to_title_case(s):
    return s.title()

print(to_title_case("hello world"))

Hello World

In [22]:
# 20. Find the longest word in a string.
def longest_word(s):
    words = s.split()
    return max(words, key=len)

print(longest_word("find the longest word in this string"))

longest

In [23]:
# 21. Find the shortest word in a string.
def shortest_word(s):
    words = s.split()
    return min(words, key=len)

print(shortest_word("find the shortest word in this string"))

in

In [24]:
# 22. Reverse the order of words in a string.
def reverse_word_order(s):
    words = s.split()
    return " ".join(reversed(words))

print(reverse_word_order("reverse the order of words"))

words of order the reverse

In [25]:
# 23. Check if a string is alphanumeric.
def is_alphanumeric(s):
    return s.isalnum()

print(is_alphanumeric("Hello123"))
print(is_alphanumeric("Hello 123"))

True
False

In [26]:
# 24. Extract all digits from a string.
def extract_digits(s):
    return "".join([char for char in s if char.isdigit()])

print(extract_digits("abc123def456"))

123456

In [27]:
# 25. Extract all alphabets from a string.
def extract_alphabets(s):
    return "".join([char for char in s if char.isalpha()])

print(extract_alphabets("abc123def456"))

abcdef

In [28]:
# 26. Count the number of uppercase letters in a string.
def count_uppercase(s):
    return sum(1 for char in s if char.isupper())

print(count_uppercase("Hello World"))

2

In [29]:
# 27. Count the number of lowercase letters in a string.
def count_lowercase(s):
    return sum(1 for char in s if char.islower())

print(count_lowercase("Hello World"))

8

In [30]:
# 28. Swap the case of each character in a string.
def swap_case(s):
    return s.swapcase()

print(swap_case("Hello World"))

hELLO wORLD

In [31]:
# 29. Remove a specific word from a string.
def remove_word(s, word):
    return s.replace(word, "").strip()

print(remove_word("hello world", "world"))

hello

In [32]:
# 30. Check if a string is a valid email address.
import re

def is_valid_email(s):
    pattern = r"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
    return re.match(pattern, s) is not None

print(is_valid_email("test@example.com"))
print(is_valid_email("invalid-email"))

True
False

In [33]:
# 31. Extract the username from an email address string.
def extract_username(email):
    return email.split('@')[0]

print(extract_username("user@example.com"))

user

In [34]:
# 32. Extract the domain name from an email address string.
def extract_domain(email):
    return email.split('@')[1]

print(extract_domain("user@example.com"))

example.com

In [35]:
# 33. Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(s):
    return " ".join(s.split())

print(replace_multiple_spaces("This   is  a    test"))

This is a test

In [36]:
# 34. Check if a string is a valid URL.
import re

def is_valid_url(s):
    pattern = r"^(https?://)?(www\.)?([a-zA-Z0-9]+)(\.[a-zA-Z]+)(/[a-zA-Z0-9#]+/?)*$"
    return re.match(pattern, s) is not None

print(is_valid_url("https://www.example.com"))
print(is_valid_url("invalid-url"))

True
False

In [37]:
# 35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    return url.split("://")[0] if "://" in url else "No protocol found"

print(extract_protocol("https://www.example.com"))

https

In [38]:
# 36. Find the frequency of each character in a string.
from collections import Counter

def char_frequency(s):
    return Counter(s)

print(char_frequency("hello world"))

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [39]:
# 37. Remove all punctuation from a string.
import string

def remove_punctuation(s):
    return s.translate(str.maketrans("", "", string.punctuation))

print(remove_punctuation("Hello, world!"))

Hello world

In [40]:
# 38. Check if a string contains only digits.
def contains_only_digits(s):
    return s.isdigit()

print(contains_only_digits("123456"))
print(contains_only_digits("123a56"))

True
False

In [41]:
# 39. Check if a string contains only alphabets.
def contains_only_alphabets(s):
    return s.isalpha()

print(contains_only_alphabets("Hello"))
print(contains_only_alphabets("Hello123"))

True
False

In [42]:
# 40. Convert a string to a list of characters.
def string_to_char_list(s):
    return list(s)

print(string_to_char_list("hello"))

['h', 'e', 'l', 'l', 'o']

In [43]:
# 41. Check if two strings are anagrams.
from collections import Counter

def are_anagrams(s1, s2):
    return Counter(s1) == Counter(s2)

print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))

True
False

In [44]:
# 42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(s, shift):
    encoded = []
    for char in s:
        if char.isalpha():
            shift_base = ord('A') if char.isupper() else ord('a')
            encoded.append(chr((ord(char) - shift_base + shift) % 26 + shift_base))
        else:
            encoded.append(char)
    return ''.join(encoded)

print(caesar_cipher_encode("hello", 3))

khoor

In [45]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(s, shift):
    return caesar_cipher_encode(s, -shift)

print(caesar_cipher_decode("khoor", 3))

hello

In [46]:
# 44. Find the most frequent word in a string.
from collections import Counter

def most_frequent_word(s):
    words = s.split()
    return Counter(words).most_common(1)[0][0]

print(most_frequent_word("apple orange apple banana apple"))

apple

In [47]:
# 45. Find all unique words in a string.
def unique_words(s):
    words = s.split()
    return list(set(words))

print(unique_words("apple orange apple banana"))

['banana', 'apple', 'orange']

In [48]:
# 46. Count the number of syllables in a string.
import re

def count_syllables(s):
    s = s.lower()
    syllable_pattern = r'[aeiouy]{1,2}'
    syllables = re.findall(syllable_pattern, s)
    return len(syllables)

print(count_syllables("This is a simple sentence."))

8

In [49]:
# 47. Check if a string contains any special characters.
def contains_special_characters(s):
    return any(not char.isalnum() and not char.isspace() for char in s)

print(contains_special_characters("Hello@World!"))
print(contains_special_characters("HelloWorld"))

True
False

In [50]:
# 48. Remove the nth word from a string.
def remove_nth_word(s, n):
    words = s.split()
    if 0 <= n < len(words):
        words.pop(n)
    return " ".join(words)

print(remove_nth_word("The quick brown fox jumps over the lazy dog", 3))

The quick brown jumps over the lazy dog

In [51]:
# 49. Insert a word at the nth position in a string.
def insert_word_at_nth(s, word, n):
    words = s.split()
    words.insert(n, word)
    return " ".join(words)

print(insert_word_at_nth("The quick brown fox jumps over the lazy dog", "sly", 3))

The quick brown sly fox jumps over the lazy dog

In [52]:
# 50. Convert a CSV string to a list of lists.
def csv_to_list_of_lists(csv_string):
    lines = csv_string.strip().split("\n")
    return [line.split(",") for line in lines]

csv_string = "name,age,city\nAlice,30,New York\nBob,25,Los Angeles"
print(csv_to_list_of_lists(csv_string))

[['name', 'age', 'city'], ['Alice', '30', 'New York'], ['Bob', '25', 'Los Angeles']]

List Based Practice Problem :

In [53]:
# 1. Create a list with integers from 1 to 10.
lst = list(range(1, 11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
# 2. Find the length of a list without using the `len()` function.
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

print(list_length([1, 2, 3, 4, 5]))

5

In [55]:
# 3. Append an element to the end of a list.
lst = [1, 2, 3, 4, 5]
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

In [56]:
# 4. Insert an element at a specific index in a list.
lst = [1, 2, 3, 5]
lst.insert(3, 4)
print(lst)

[1, 2, 3, 4, 5]

In [57]:
# 5. Remove an element from a list by its value.
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [58]:
# 6. Remove an element from a list by its index.
lst = [1, 2, 3, 4, 5]
lst.pop(2)
print(lst)

[1, 2, 4, 5]

In [59]:
# 7. Check if an element exists in a list.
lst = [1, 2, 3, 4, 5]
print(3 in lst)
print(6 in lst)

True
False

In [60]:
# 8. Find the index of the first occurrence of an element in a list.
lst = [1, 2, 3, 4, 3, 5]
print(lst.index(3))

2

In [61]:
# 9. Count the occurrences of an element in a list.
lst = [1, 2, 3, 3, 4, 5]
print(lst.count(3))

2

In [62]:
# 10. Reverse the order of elements in a list.
lst = [1, 2, 3, 4, 5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

In [63]:
# 11. Sort a list in ascending order.
lst = [3, 1, 4, 5, 2]
lst.sort()
print(lst)

[1, 2, 3, 4, 5]

In [64]:
# 12. Sort a list in descending order.
lst = [3, 1, 4, 5, 2]
lst.sort(reverse=True)
print(lst)

[5, 4, 3, 2, 1]

In [65]:
# 13. Create a list of even numbers from 1 to 20.
even_numbers = [i for i in range(1, 21) if i % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
# 14. Create a list of odd numbers from 1 to 20.
odd_numbers = [i for i in range(1, 21) if i % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
# 15. Find the sum of all elements in a list.
lst = [1, 2, 3, 4, 5]
print(sum(lst))

15

In [68]:
# 16. Find the maximum value in a list.
lst = [1, 2, 3, 4, 5]
print(max(lst))

5

In [69]:
# 17. Find the minimum value in a list.
lst = [1, 2, 3, 4, 5]
print(min(lst))

1

In [70]:
# 18. Create a list of squares of numbers from 1 to 10.
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
# 19. Create a list of random numbers.
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[75, 44, 56, 98, 45, 83, 43, 19, 82, 94]

In [72]:
# 20. Remove duplicates from a list.
lst = [1, 2, 2, 3, 4, 4, 5]
lst = list(set(lst))
print(lst)

[1, 2, 3, 4, 5]

In [73]:
# 21. Find the common elements between two lists.
lst1 = [1, 2, 3, 4, 5]
lst2 = [3, 4, 5, 6, 7]
common_elements = list(set(lst1) & set(lst2))
print(common_elements)

[3, 4, 5]

In [74]:
# 22. Find the difference between two lists.
lst1 = [1, 2, 3, 4, 5]
lst2 = [3, 4, 5, 6, 7]
difference = list(set(lst1) - set(lst2))
print(difference)

[1, 2]

In [75]:
# 23. Merge two lists.
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
merged_list = lst1 + lst2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [76]:
# 24. Multiply all elements in a list by 2.
lst = [1, 2, 3, 4, 5]
lst = [i * 2 for i in lst]
print(lst)

[2, 4, 6, 8, 10]

In [77]:
# 25. Filter out all even numbers from a list.
lst = [1, 2, 3, 4, 5, 6]
filtered_list = [i for i in lst if i % 2 != 0]
print(filtered_list)

[1, 3, 5]

In [78]:
# 26. Convert a list of strings to a list of integers.
str_lst = ["1", "2", "3", "4", "5"]
int_lst = [int(i) for i in str_lst]
print(int_lst)

[1, 2, 3, 4, 5]

In [79]:
# 27. Convert a list of integers to a list of strings.
int_lst = [1, 2, 3, 4, 5]
str_lst = [str(i) for i in int_lst]
print(str_lst)

['1', '2', '3', '4', '5']

In [80]:
# 28. Flatten a nested list.
nested_lst = [[1, 2, 3], [4, 5], [6]]
flattened_lst = [item for sublist in nested_lst for item in sublist]
print(flattened_lst)

[1, 2, 3, 4, 5, 6]

In [81]:
# 29. Create a list of the first 10 Fibonacci numbers.
def fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [82]:
# 30. Check if a list is sorted.
def is_sorted(lst):
    return lst == sorted(lst)

print(is_sorted([1, 2, 3, 4, 5]))
print(is_sorted([5, 3, 4, 1, 2]))

True
False

In [83]:
# 31. Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    return lst[n:] + lst[:n]

print(rotate_left([1, 2, 3, 4, 5], 2))

[3, 4, 5, 1, 2]

In [84]:
# 32. Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    return lst[-n:] + lst[:-n]

print(rotate_right([1, 2, 3, 4, 5], 2))

[4, 5, 1, 2, 3]

In [85]:
# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [i for i in range(2, 51) if is_prime(i)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [86]:
# 34. Split a list into chunks of size `n`.
def chunk_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

print(chunk_list([1, 2, 3, 4, 5, 6, 7, 8, 9], 3))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [87]:
# 35. Find the second largest number in a list.
def second_largest(lst):
    unique_lst = list(set(lst))
    unique_lst.sort()
    return unique_lst[-2] if len(unique_lst) > 1 else None

print(second_largest([1, 2, 3, 4, 5]))

4

In [88]:
# 36. Replace every element in a list with its square.
lst = [1, 2, 3, 4, 5]
squared_lst = [i**2 for i in lst]
print(squared_lst)

[1, 4, 9, 16, 25]

In [89]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
lst = ["a", "b", "c", "d"]
lst_dict = {item: index for index, item in enumerate(lst)}
print(lst_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [90]:
# 38. Shuffle the elements of a list randomly.
import random
lst = [1, 2, 3, 4, 5]
random.shuffle(lst)
print(lst)

[2, 5, 4, 3, 1]

In [91]:
# 39. Create a list of the first 10 factorial numbers.
import math
factorials = [math.factorial(i) for i in range(1, 11)]
print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [92]:
# 40. Check if two lists have at least one element in common.
def have_common_element(lst1, lst2):
    return bool(set(lst1) & set(lst2))

print(have_common_element([1, 2, 3], [3, 4, 5]))
print(have_common_element([1, 2, 3], [4, 5, 6]))

True
False

In [93]:
# 41. Remove all elements from a list.
lst = [1, 2, 3, 4, 5]
lst.clear()
print(lst)

[]

In [94]:
# 42. Replace negative numbers in a list with 0.
lst = [1, -2, 3, -4, 5]
lst = [0 if i < 0 else i for i in lst]
print(lst)

[1, 0, 3, 0, 5]

In [95]:
# 43. Convert a string into a list of words.
s = "Hello World, this is a test."
words = s.split()
print(words)

['Hello', 'World,', 'this', 'is', 'a', 'test.']

In [96]:
# 44. Convert a list of words into a string.
words = ["Hello", "World", "this", "is", "a", "test"]
s = " ".join(words)
print(s)

Hello World this is a test

In [97]:
# 45. Create a list of the first `n` powers of 2.
def powers_of_2(n):
    return [2 ** i for i in range(n)]

print(powers_of_2(10))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [98]:
# 46. Find the longest string in a list of strings.
lst = ["apple", "banana", "cherry", "blueberry"]
longest = max(lst, key=len)
print(longest)

blueberry

In [99]:
# 47. Find the shortest string in a list of strings.
lst = ["apple", "banana", "cherry", "kiwi"]
shortest = min(lst, key=len)
print(shortest)

kiwi

In [100]:
# 48. Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

print(triangular_numbers(10))

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [101]:
# 49. Check if a list contains another list as a subsequence.
def is_subsequence(lst, sub_lst):
    it = iter(lst)
    return all(item in it for item in sub_lst)

print(is_subsequence([1, 2, 3, 4, 5], [2, 3, 4]))
print(is_subsequence([1, 2, 3, 4, 5], [2, 4, 3]))

True
False

In [102]:
# 50. Swap two elements in a list by their indices.
lst = [1, 2, 3, 4, 5]
i, j = 1, 3
lst[i], lst[j] = lst[j], lst[i]
print(lst)

[1, 4, 3, 2, 5]

Tuple Based Practice Problem :

In [103]:
# 1. Create a tuple with integers from 1 to 5.
tup = (1, 2, 3, 4, 5)
print(tup)

(1, 2, 3, 4, 5)

In [104]:
# 2. Access the third element of a tuple.
third_element = tup[2]
print(third_element)

3

In [105]:
# 3. Find the length of a tuple without using the `len()` function.
length = sum(1 for _ in tup)
print(length)

5

In [106]:
# 4. Count the occurrences of an element in a tuple.
count = tup.count(3)
print(count)

1

In [107]:
# 5. Find the index of the first occurrence of an element in a tuple.
index = tup.index(3)
print(index)

2

In [108]:
# 6. Check if an element exists in a tuple.
exists = 3 in tup
print(exists)

True

In [8]:
# 7. Convert a tuple to a list.
tup = (1, 2, 3, 4, 5)
lst = list(tup)
print(lst)

[1, 2, 3, 4, 5]

In [110]:
# 8. Convert a list to a tuple.
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

In [111]:
# 9. Unpack the elements of a tuple into variables.
a, b, c, d, e = tup
print(a, b, c, d, e)

1 2 3 4 5

In [112]:
# 10. Create a tuple of even numbers from 1 to 10.
even_tup = tuple(i for i in range(1, 11) if i % 2 == 0)
print(even_tup)

(2, 4, 6, 8, 10)

In [113]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_tup = tuple(i for i in range(1, 11) if i % 2 != 0)
print(odd_tup)

(1, 3, 5, 7, 9)

In [114]:
# 12. Concatenate two tuples.
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
concat_tup = tup1 + tup2
print(concat_tup)

(1, 2, 3, 4, 5, 6)

In [115]:
# 12. Concatenate two tuples.
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
concat_tup = tup1 + tup2
print(concat_tup)

(1, 2, 3, 4, 5, 6)

In [116]:
# 13. Repeat a tuple three times.
repeated_tup = tup1 * 3
print(repeated_tup)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [117]:
# 14. Check if a tuple is empty.
is_empty = len(tup1) == 0
print(is_empty)

False

In [118]:
# 15. Create a nested tuple.
nested_tup = ((1, 2), (3, 4), (5, 6))
print(nested_tup)

((1, 2), (3, 4), (5, 6))

In [119]:
# 16. Access the first element of a nested tuple.
first_nested_element = nested_tup[0][0]
print(first_nested_element)

1

In [120]:
# 17. Create a tuple with a single element.
single_element_tup = (1,)
print(single_element_tup)

(1,)

In [121]:
# 18. Compare two tuples.
tup1 = (1, 2, 3)
tup2 = (1, 2, 4)
are_equal = tup1 == tup2
print(are_equal)

False

In [122]:
# 19. Delete a tuple.
tup = (1, 2, 3)
del tup
# print(tup)  # This will raise an error since the tuple no longer exists.

In [123]:
# 20. Slice a tuple.
sliced_tup = tup1[1:3]
print(sliced_tup)

(2, 3)

In [124]:
# 21. Find the maximum value in a tuple.
max_value = max(tup1)
print(max_value)

3

In [125]:
# 22. Find the minimum value in a tuple.
min_value = min(tup1)
print(min_value)

1

In [126]:
# 23. Convert a string to a tuple of characters.
s = "hello"
char_tup = tuple(s)
print(char_tup)

('h', 'e', 'l', 'l', 'o')

In [127]:
# 24. Convert a tuple of characters to a string.
char_tup = ('h', 'e', 'l', 'l', 'o')
s = ''.join(char_tup)
print(s)

hello

In [128]:
# 25. Create a tuple from multiple data types.
multi_tup = (1, "hello", 3.14, True)
print(multi_tup)

(1, 'hello', 3.14, True)

In [129]:
# 26. Check if two tuples are identical.
tup1 = (1, 2, 3)
tup2 = (1, 2, 3)
are_identical = tup1 == tup2
print(are_identical)

True

In [130]:
# 27. Sort the elements of a tuple.
sorted_tup = tuple(sorted(tup1))
print(sorted_tup)

(1, 2, 3)

In [131]:
# 28. Convert a tuple of integers to a tuple of strings.
int_tup = (1, 2, 3)
str_tup = tuple(map(str, int_tup))
print(str_tup)

('1', '2', '3')

In [132]:
# 29. Convert a tuple of strings to a tuple of integers.
str_tup = ('1', '2', '3')
int_tup = tuple(map(int, str_tup))
print(int_tup)

(1, 2, 3)

In [133]:
# 30. Merge two tuples.
tup1 = (1, 2)
tup2 = (3, 4)
merged_tup = tup1 + tup2
print(merged_tup)

(1, 2, 3, 4)

In [134]:
# 31. Flatten a nested tuple.
nested_tup = ((1, 2), (3, 4), (5, 6))
flat_tup = tuple(item for sublist in nested_tup for item in sublist)
print(flat_tup)

(1, 2, 3, 4, 5, 6)

In [135]:
# 32. Create a tuple of the first 5 prime numbers.
prime_tup = (2, 3, 5, 7, 11)
print(prime_tup)

(2, 3, 5, 7, 11)

In [136]:
# 33. Check if a tuple is a palindrome.
def is_palindrome(tup):
    return tup == tup[::-1]

print(is_palindrome((1, 2, 3, 2, 1)))
print(is_palindrome((1, 2, 3)))

True
False

In [137]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squares_tup = tuple(i ** 2 for i in range(1, 6))
print(squares_tup)

(1, 4, 9, 16, 25)

In [138]:
# 35. Filter out all even numbers from a tuple.
tup = (1, 2, 3, 4, 5, 6)
filtered_tup = tuple(i for i in tup if i % 2 != 0)
print(filtered_tup)

(1, 3, 5)

In [139]:
# 36. Multiply all elements in a tuple by 2.
tup = (1, 2, 3, 4, 5)
multiplied_tup = tuple(i * 2 for i in tup)
print(multiplied_tup)

(2, 4, 6, 8, 10)

In [140]:
# 37. Create a tuple of random numbers.
import random
random_tup = tuple(random.randint(1, 100) for _ in range(5))
print(random_tup)

(53, 27, 32, 59, 94)

In [141]:
# 38. Check if a tuple is sorted.
def is_sorted(tup):
    return tup == tuple(sorted(tup))

print(is_sorted((1, 2, 3, 4, 5)))
print(is_sorted((1, 3, 2, 4, 5)))

True
False

In [142]:
# 39. Rotate a tuple to the left by `n` positions.
def rotate_left(tup, n):
    return tup[n:] + tup[:n]

print(rotate_left((1, 2, 3, 4, 5), 2))

(3, 4, 5, 1, 2)

In [143]:
# 40. Rotate a tuple to the right by `n` positions.
def rotate_right(tup, n):
    return tup[-n:] + tup[:-n]

print(rotate_right((1, 2, 3, 4, 5), 2))

(4, 5, 1, 2, 3)

In [144]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return tuple(fib[:n])

print(fibonacci(5))

(0, 1, 1, 2, 3)

In [ ]:
## 42. Create a tuple from user input.
user_input = input("Enter elements separated by space: ")

user_tup = tuple(user_input.split())

print(user_tup)

In [1]:
# 43. Swap two elements in a tuple.
def swap_elements(tup, i, j):
    lst = list(tup)
    lst[i], lst[j] = lst[j], lst[i]
    return tuple(lst)

print(swap_elements((1, 2, 3, 4, 5), 1, 3))

(1, 4, 3, 2, 5)

In [1]:
# 44. Reverse the elements of a tuple.
tup = (1, 2, 3, 4, 5)
reversed_tup = tup[::-1]
print(reversed_tup)

(5, 4, 3, 2, 1)

In [1]:
# 45. Create a tuple of the first `n` powers of 2.
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))

print(powers_of_2(5))

(1, 2, 4, 8, 16)

In [2]:
# 46. Find the longest string in a tuple of strings.
tup = ("apple", "banana", "cherry", "blueberry")
longest_string = max(tup, key=len)
print(longest_string)

blueberry

In [3]:
# 47. Find the shortest string in a tuple of strings.
tup = ("apple", "banana", "cherry", "kiwi")
shortest_string = min(tup, key=len)
print(shortest_string)

kiwi

In [4]:
# 48. Create a tuple of the first `n` triangular numbers.
def triangular_numbers(n):
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

print(triangular_numbers(5))

(1, 3, 6, 10, 15)

In [5]:
# 49. Check if a tuple contains another tuple as a subsequence.
def is_subsequence(tup, sub_tup):
    it = iter(tup)
    return all(item in it for item in sub_tup)

print(is_subsequence((1, 2, 3, 4, 5), (2, 3, 4)))
print(is_subsequence((1, 2, 3, 4, 5), (2, 4, 3)))

True
False

In [6]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(alternating_ones_zeros(10))

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

In [7]:
# 1. Create a set with integers from 1 to 5.
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [8]:
# 2. Add an element to a set.
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [9]:
# 3. Remove an element from a set.
s.remove(3)
print(s)

{1, 2, 4, 5, 6}

In [10]:
# 4. Check if an element exists in a set.
exists = 4 in s
print(exists)

True

In [11]:
# 5. Find the length of a set without using the `len()` function.
length = sum(1 for _ in s)
print(length)

5

In [12]:
# 6. Clear all elements from a set.
s.clear()
print(s)

set()

In [13]:
# 6. Clear all elements from a set.
s.clear()
print(s)

set()

In [14]:
# 7. Create a set of even numbers from 1 to 10.
even_set = {i for i in range(1, 11) if i % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

In [15]:
# 8. Create a set of odd numbers from 1 to 10.
odd_set = {i for i in range(1, 11) if i % 2 != 0}
print(odd_set)

{1, 3, 5, 7, 9}

In [16]:
# 9. Find the union of two sets.
union_set = even_set | odd_set
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
# 10. Find the intersection of two sets.
intersection_set = even_set & odd_set
print(intersection_set)

set()

In [18]:
# 11. Find the difference between two sets.
difference_set = even_set - odd_set
print(difference_set)

{2, 4, 6, 8, 10}

In [19]:
# 12. Check if a set is a subset of another set.
is_subset = {2, 4}.issubset(even_set)
print(is_subset)

True

In [20]:
# 13. Check if a set is a superset of another set.
is_superset = even_set.issuperset({2, 4})
print(is_superset)

True

In [21]:
# 14. Create a set from a list.
list_set = set([1, 2, 3, 4, 5])
print(list_set)

{1, 2, 3, 4, 5}

In [22]:
# 15. Convert a set to a list.
list_from_set = list(list_set)
print(list_from_set)

[1, 2, 3, 4, 5]

In [5]:
# 16. Remove a random element from a set.
s={1,2,3,4,5}
removed_element = s.pop()
print(removed_element)
print(s)

1
{2, 3, 4, 5}

In [6]:
# 17. Pop an element from a set.
s={1,2,3,4,5}
popped_element = s.pop()
print(popped_element)
print(s)

1
{2, 3, 4, 5}

In [26]:
# 18. Check if two sets have no elements in common.
disjoint = even_set.isdisjoint({7, 9})
print(disjoint)

True

In [27]:
# 19. Find the symmetric difference between two sets.
sym_diff_set = even_set ^ {4, 6, 8, 10, 11, 13}
print(sym_diff_set)

{2, 11, 13}

In [28]:
# 20. Update a set with elements from another set.
s.update({10, 11})
print(s)

{10, 11}

In [29]:
# 21. Create a set of the first 5 prime numbers.
prime_set = {2, 3, 5, 7, 11}
print(prime_set)

{2, 3, 5, 7, 11}

In [30]:
# 22. Check if two sets are identical.
identical = prime_set == {2, 3, 5, 7, 11}
print(identical)

True

In [31]:
# 23. Create a frozen set.
frozen_s = frozenset([1, 2, 3, 4, 5])
print(frozen_s)

frozenset({1, 2, 3, 4, 5})

In [ ]:
##### 24. Check if a set is disjoint with another set.
disjoint_sets = even_set.isdisjoint({1, 3, 5})
print(disjoint_sets)

In [33]:
# 25. Create a set of squares of numbers from 1 to 5.
squares_set = {i**2 for i in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [34]:
# 26. Filter out all even numbers from a set.
filtered_set = {i for i in prime_set if i % 2 != 0}
print(filtered_set)

{11, 3, 5, 7}

In [35]:
# 27. Multiply all elements in a set by 2.
multiplied_set = {i * 2 for i in prime_set}
print(multiplied_set)

{4, 6, 10, 14, 22}

In [3]:
# 28. Create a set of random numbers.
import random

random_set = {random.randint(1, 100) for _ in range(5)}
print(random_set)

{78, 26, 59, 28, 62}

In [4]:

my_set = set()

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [38]:
# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [39]:
# 31. Remove an element from a set using the discard method.
prime_set.discard(5)
print(prime_set)

{2, 3, 7, 11}

In [40]:
# 32. Compare two sets.
comparison = prime_set == {2, 3, 7, 11}
print(comparison)

True

In [41]:
# 33. Create a set from a string.
string_set = set("hello")
print(string_set)

{'l', 'o', 'h', 'e'}

In [42]:
# 34. Convert a set of strings to a set of integers.
string_set = {"1", "2", "3"}
int_set = {int(i) for i in string_set}
print(int_set)

{1, 2, 3}

In [43]:
# 35. Convert a set of integers to a set of strings.
int_set = {1, 2, 3}
string_set = {str(i) for i in int_set}
print(string_set)

{'2', '1', '3'}

In [44]:
# 36. Create a set from a tuple
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [45]:
# 37. Convert a set to a tuple
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [46]:
# 38. Find the maximum value in a set
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print(max_value)

5

In [47]:
# 39. Find the minimum value in a set
my_set = {1, 2, 3, 4, 5}
min_value = min(my_set)
print(min_value)

1

In [ ]:
# 40. Create a set from user input
user_input = input("Enter elements separated by spaces: ")
my_set = set(map(int, user_input.split()))
print(my_set)

In [1]:
# 41. Check if the intersection of two sets is empty
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_empty = set1.intersection(set2) == set()
print(is_empty)

True

In [2]:
# 42. Create a set of the first 5 Fibonacci numbers
def fibonacci(n): 
    fibs = [0, 1]
    while len(fibs) < n:
        fibs.append(fibs[-1] + fibs[-2])
    return set(fibs)

fib_set = fibonacci(5)
print(fib_set)

{0, 1, 2, 3}

In [3]:
# 43. Remove duplicates from a list using sets
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [4]:
# 44. Check if two sets have the same elements, regardless of their count
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_equal = set1 == set2
print(are_equal)

True

In [4]:
# 45. Create a set of the first `n` powers of 2
n = 5
powers_of_2 = {2 ** i for i in range(n)}
print(powers_of_2)

{1, 2, 4, 8, 16}

In [5]:
# 46. Find the common elements between a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)
print(common_elements)

{3, 4, 5}

In [6]:
# 47. Create a set of the first `n` triangular numbers
def triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

tri_set = triangular_numbers(5)
print(tri_set)

{1, 3, 6, 10, 15}

In [7]:
# 48. Check if a set contains another set as a subset
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
is_subset = set2.issubset(set1)
print(is_subset)

True

In [8]:
# 49. Create a set of alternating 1s and 0s of length `n`
n = 10
alternating_set = {i % 2 for i in range(n)}
print(alternating_set)

{0, 1}

In [9]:
# 50. Merge multiple sets into one
set1 = {1, 2}
set2 = {3, 4}
set3 = {5, 6}
merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6}